* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.header {
  width: 100%;
  height: 60px;
  background: #ffee93;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}

.header i {
  font-size: large;
  cursor: pointer;
  color: #373636;
  margin-right: 10px;
}

.header i:hover {
  color: black;
  transform: scale(1.2);
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.header .user-info {
  padding: 2px;
}

.header .user-info h2 {
  color: #373636;
  font-weight: 550;
  font-size: medium;
}

.header .user-info p {
  color: #373636;
  font-size: smaller;
}

.header h2 {
  color: #373636;
  font-weight: 550;
  font-size: large;
}

.header a {
  color: #373636;
}

.header a i {
  font-size: large;
  cursor: pointer;
}

.header a:hover {
  color: black;
  transform: scale(1.2);
}

.chat-box {
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  padding: 10px 20px;
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  width: 0;
}

.chat-box .message {
  font-size: small;
  padding: 10px;
}

.chat-box .outgoing {
  display: flex;
  justify-content: flex-end;
}

.chat-box .outgoing .text {
  background-color: #373636;
  color: #fff;
  text-align: right;
  padding: 8px;
  border-radius: 10px 10px 0 10px;
  max-width: calc(100% - 130px);
}

.chat-box .message .text p {
  word-wrap: break-word;
}

.chat-box .incoming {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.chat-box .incoming .text {
  max-width: calc(100% - 130px);
  word-wrap: break;
  background-color: #fff;
  text-align: left;
  border-radius: 10px 10px 10px 0;
  padding: 8px;
}

.chat-box .incoming img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 5px;
}

.input-message {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.input-message input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  border-radius: 0 0 10px 10px;
}

.input-message button {
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #373636;
  cursor: pointer;
  border-radius: 0 0 10px 0;
}

@media only screen and (max-width: 768px) {
  body {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 0;
  }

  .chat-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }

  .input-message {
    width: 100%;
    height: 60px;
    align-items: center;
    border-radius: 0;
    position: relative;
    bottom: 0;
  }
}
