* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #ffffff;
  min-width: 400px;
  max-width: 500px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  max-height: calc(100% - 60px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffee93;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.header h2 {
  color: #373636;
  font-weight: 550;
  font-size: large;
}

.header a {
  color: #373636;
}

.header a i {
  font-size: large;
  cursor: pointer;
}

.header a:hover {
  color: black;
  transform: scale(1.2);
}

.search .search-form {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #373636 1px solid;
  padding-bottom: 10px;
}

.search .search-form input {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 5px;
  margin-right: 5px;
}

.search-form input:focus {
  background: #fff;
  box-shadow: 0 0 0 2px #ffee93;
}

.search-form button i {
  font-size: large;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #373636;
  border: none;
}

.search-form button i:hover {
  color: black;
}

.user-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-height: calc(100% - 160px);
  overflow-y: auto;
  width: 100%;
}

.user-list a .user-wrapper {
  display: flex;
  align-items: center;
}

.user-list a .user-wrapper .user-info {
  font-size: small;
  font-weight: 500;
  color: #373636;
  margin-left: 10px;
}

.user-list a .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.user-list a .user:hover {
  background-color: #ffee93;
}

.user-list a .user .status {
  font-size: small;
  color: #399f45;
}

.user-info p.message {
  font-size: smaller;
  color: #3736367e;
}

a {
  text-decoration: none;
  text-emphasis: none;
}

@media only screen and (max-width: 768px) {
  body {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    min-height: 0;
    min-width: 0;
    max-height: none;
    max-width: none;
  }

  .header {
    position: static;
    width: 100%;
    height: 60px;
    border-radius: 0;
  }

  .search {
    margin: 0 10px;
  }

  .search .search-form {
    position: static;
    width: 100%;
  }

  .user-list {
    position: static;
    width: 100%;
    max-height: calc(100% - 160px);
    overflow-y: auto;
    padding: 0 10px;
    margin-top: 0;
  }
}
